---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "loader";
// Syntax highlighting @import is at the bottom of this file

// ======================================================
// ======================== TOC =========================
// ======================================================

// BASE RULES (not my stuff)
// GENERAL STUFF
//  -PAGE NAVIGATOR
//  -COLORS
//  -MAILCHIMP
//  -GUMROAD
// HOMEPAGE
// FREE COMIC PAGE
// CONTACT PAGE
// DEV PAGE
// COMIC PAGE
// GUIDE PAGE
// PROSE PAGES
// FOOTER

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

.contentbox {
  padding: 3% 7%;
  overflow:hidden;
}

body {
  text-align: center;
  background: $black;
  font: 18px/1.4 $lato;
  width: 100%;
  height: 100%;
}

#main {
  background: $homepageBg;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.7;
  margin: 20px 0 10px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 350%;
}

h2 {
  font-size: 250%;
}


h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 125%;
}

h6 {
  font-size: 110%;
}

p {
  margin: 15px 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// ======================================================
// =================== GENERAL STUFF ====================
// ======================================================

// So we always fill the viewport (no hovering footer)
.entry {
  min-height: calc(100vh - 151px); // 101px footer + 50px header
  color: black;
}

// Overriding bootstrap columns so they also factor in display orientation.
// Essentially cancel md and higher settings if screen is longer than it is wide.
// Note this also prevents us from setting multiple column sizes per element (ie can't do col-6 col-sm-4 col-md-3 anymore).
@media (orientation: portrait) {

  // Assume if we are applying a display setting, the mobile behaviour is to hide.
  div[class^='d-md-block'], div[class*='d-md-block'],
  div[class^='d-md-flex'], div[class*='d-md-flex']
  {
    display: none!important;
  }
  div[class^='d-md-none'], div[class*='d-md-none']
  {
    display: unset!important;
  }

  div[class^='col-md'], div[class*='col-md'] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  div[class^='offset-md'], div[class*='offset-md'] {
    margin-left: 0;
  }
}

// custom column offset width. Half of 1.
@media (min-width: $mdAndOver) and (orientation: landscape) {
  .offset-md-half {
    margin-left: 4.166665%;
  }
}

// Markdown image captions
img + em {
  display: block;
  text-align: center;
}

b {
  color: $pink;
}

hr {
  color: black; /* old IE */
  background-color: black; /* Modern Browsers */
  border-color: black;
  height: 1px;
}

// Overwrite builtin css
.highlight {
  background-color: inherit!important;
  margin: 0!important;
  overflow: inherit!important;
}

code {
  font-family: inherit!important;
}

.emphasis, .hover-emphasis:hover {
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.extra-hover-emphasis {
    -webkit-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    &:hover {
      transform: scale(1.05) rotate(3deg);
      -ms-transform: scale(1.05) rotate(3deg);
      -webkit-transform: scale(1.05) rotate(3deg);
    } 
}

.long-bg {
  overflow: hidden;
}

.bottom-align-imgs img {
  vertical-align: bottom;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.stylized-btn-light {
  border: 2px solid $offWhite;
  color: $offWhite;

  &:hover, &:active, &:focus {
    background-color: $offWhite;
    color: $black;
  }
}

.stylized-btn {
  border: 2px solid $black;
  color: $black;

  &:hover, &:active, &:focus {
    background-color: $black;
    color: $offWhite;
  }
}

.stylized-btn, .stylized-btn-light {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  min-height: 58px;
  padding: 0 22px;
  line-height: 52px;
  letter-spacing: 0.12em;
  word-spacing: 0.2em;
  text-decoration: none !important;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
}

// ================= PAGE NAVIGATOR =======================

// add space for the bootstrap navbar
.page {
  padding-top: 50px;
}

// overwrite navbar styles
.navbar-custom {
  background-color: black;

  /* change the link color */
  .navbar-nav .nav-link {
    color: white;
  }

  /* for dropdown only - change the color of dropdown section */
  .dropdown-menu {
    background-color: $darkGray;
  }

  .dropdown-item {
    color: white;
    text-align: center;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: black;
    background-color: $pink;
  }

  .navbar-brand {
    font-family: $aloja;
  }

  /* change the brand and text color */
  .navbar-brand,
  .navbar-text {
      color: white;

      &:hover {
        color: $pink;
      }
  }

  /* change the color of hovered links */
  .nav-item:hover .nav-link,
  .nav-item:focus .nav-link {
      color: $pink;
  }

  .nav-item.active {
    background-color: $pink;

    .nav-link:hover,
    .nav-link:focus {
      color: $black;
    }
  }

  ul {
    margin: 0 0;
  }
}

// ================== END PAGE NAVIGATOR ==================

// ======================= COLOURS ========================
.base {
  color: $black;
}

.hilight {
  color: $pink;
}

.active {
  background-color: $blue;
}
// ===================== END COLOURS =======================

// =========================================================
// ==================== MAILCHIMP ==========================
// =========================================================

#mc_embed_signup {
  background: rgba(0,0,0,0);
  clear: left;

  .button {
    background-color: $pink;
  }
}

// ===================== END MAILCHIMP =====================

// =========================================================
// ====================== GUMROAD ==========================
// =========================================================

// Fixes overlays getting shot off screen for some reason
.gumroad-overlay-iframe {
  position: relative!important;
}

// ===================== END GUMROAD =======================

// =========================================================
// ===================== HOMEPAGE ==========================
// =========================================================
@media (max-width: $lgAndUnder) {
  #homepage-content h1 {
    font-size: 250%; // Shrink the text down so it doesn't wrap weird before we get to mobile version.
  }
}


@media (min-width: $lgAndOver)
{
    #homepage-btn-section
    {
      width: 40%;
    }
}

@media (max-width: $mdAndUnder)
{
    #homepage-btn-section
    {
      width: 90%;
    }
}

#homepage-content
{
    position:relative;
    min-height: 100vh;
}

.homepage-text-wrapper {
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  min-height: 150px;

  h1 {
    display:inline;
    margin: 0;
  }
}

#homepage-variable-text-wrapper {
  display: inline;
  position: relative;
}

.homepage-text {
  position: absolute;
  left: 0;
}

#homepage-pizza {
  z-index: 10;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 20px;
  left: 20px;

  img {
    vertical-align: bottom;
    border-radius: 15px;
  }
}

#pizza-cover {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: $homepageBg;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);

  &:hover {
    cursor:pointer;
  }
}

.pizza-slide-up {
  bottom: 0px;
  cursor: default!important;
  animation: pizza-slide-up-animation 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pizza-slide-up-animation {
  from {bottom: 0px;}
  to {bottom: 75px;}
}

.homepage-btn-content
{
    border: 9px solid var(--bs-body-color);
    border-radius: 50px;
    
    background-color: #e6e0d2;

    display: flex;
    align-items: center;
    justify-content:center;

    overflow: hidden;

    aspect-ratio : 1 / 1;  // Be square

    -webkit-box-shadow: 4px 3px 5px var(--bs-body-color);
    -moz-box-shadow: 4px 3px 5px var(--bs-body-color);
    box-shadow: 4px 3px 5px var(--bs-body-color);
}

.homepage-btn-container {
  position: relative;

  a {
    z-index: 100;
    height: 100%;
    width: 100%;
  }

  &:hover, &:active, &:focus {
    cursor: pointer;

    .homepage-btn-content {
      color: $pink;
      border-color: $pink;

      -webkit-box-shadow: 4px 3px 5px #580333;
      -moz-box-shadow: 4px 3px 5px #580333;
      box-shadow: 4px 3px 5px #580333;

      animation:
        MoveUp 1s ease-in-out,
        MoveDownAndUp 3s ease-in-out 1s infinite;
    }
  }
}

.homepage-btn-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    font-size:calc(50% + 1vw);
}

// Split into two animations (the second with a 1s delay) so that
// we don't also ease out when returning back to the center.
@keyframes MoveUp {
  from { transform: translate(0, 0px); }
  to   { transform: translate(0, -12px); }
}
@keyframes MoveDownAndUp {
  from { transform: translate(0, -12px); }
  50%  { transform: translate(0, 12px); }
  to   { transform: translate(0, -12px); }
}
// ====================== END HOMEPAGE =====================

// =========================================================
// ================= FREE COMIC PAGE =======================
// =========================================================

@media (min-width: $mdAndOver) and (orientation: landscape) {
  #mock-up-wrapper {
    min-height: calc(100vh - 151px); // stretch to the full screen width. Not sure why the extra pixel.
  }
}

#mock-up-wrapper {
  display: flex;
  justify-content: center;
}

#mock-up-img {
  z-index: 10;
}

// =========================================================
// ================== CONTACT PAGE =========================
// =========================================================
#contact-content {
  position: relative;
  min-height: calc(100vh - 151px); // 101px footer + 50px header

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.error {
  color: #7b0000;
  font-size: 80%;
}

#contact-container {
  text-align: left;
}

#contact-form {
  margin-top: 25px;
  margin-bottom: 100px;
}

.contact-form-group {
  margin-bottom: 15px;
}

.contact-form-btn {
  width: 100%;
}

#contact-img-left, #contact-img-right {
  position: absolute;
  max-width: 25%;
  bottom: -1px;
  opacity: 0.65;
}

#contact-img-left {
  left: 0;
}

#contact-img-right {
  right: 0;
}

// ====================== END CONTACT ======================

// =========================================================
// ===================== DEV PAGE ==========================
// =========================================================

#dev-header-section {
  padding-top:30px;
  padding-bottom: 200px;
  background-color: black;
  color: white;
}

.dev-row {
  margin-top: 30px;
  margin-bottom: 70px;
}

.front, .back {
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

#dev-languages {
  [class^="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .front {
    background-color: $elevatedBg;
  }

  .back {
    background-color: $offWhite;
  }

  .front, .back {
    border-radius: 30px;
    padding: 30px;
  }
}

#dev-three-things {
  h6 {
    font-weight: normal;
  }

  h3, h6 {
    margin: 0;
  }

  .front {
    background-color: #f7389f;
  }

  .back {
    background-color: $offWhite;
  }

  .front, .back {
    border-radius: 30px;
    padding: 30px;
  }

  .flip {
    height: 250px;
  }
}

.dev-three-things-ico {
  margin-bottom: 15px;
}

.dev-jobs {
  position: relative;

  .on-hover-base {
    vertical-align: top;

    background-color: #c1c1c1;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 5px #000000;
  }
  .on-hover-hide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    -webkit-transition: .2s ease-in-out all;
    -moz-transition: .2s ease-in-out all;
    -o-transition: .2s ease-in-out all;
    transition: .2s ease-in-out all;
  }
  &:hover .on-hover-hide {
    height: 0;
  }
}

#dev-jobs-container {
  color: white;
}

@media (max-width: $smAndUnder), (orientation: portrait) {
  #dev-header-section {
    padding-bottom: 75px;
  }

  .dev-col {
    margin-bottom: 30px;
  }

  #dev-jobs-container {
    background-color: black;
  }

  #dev-jobs-bg, #dev-jobs-fg {
    padding: 50px 20px;
  }

  #dev-contact {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

@media (min-width: $mdAndOver) and (orientation: landscape) {
  #dev-header-title {
    -webkit-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;

    transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    -webkit-transform: rotate(16deg);

    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;

    &:hover {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    } 
  }

  #dev-jobs-bg {
    z-index: 1;
    background-color: black;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 30px 30% 30px 8%;
  }

  #dev-jobs-fg {
    z-index: 10;
    background-color: $elevatedBg;
    display: flex;
    align-items: center;
    margin-left: calc(-16.666667% - 60px); // width of 8-6=2 columns plus 60px margin width of above 3 things section
    padding: 60px 0;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }

  #dev-three-things {
    position: relative;
    z-index: 100;

    background-color: $elevatedBg;
    margin: -175px 60px 60px 60px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
}

.portrait {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.7);
}

// ==================== END DEV PAGE =========================

// =========================================================
// ===================== COMIC PAGE ==========================
// =========================================================

@media (min-width: $mdAndOver) and (orientation: landscape) {
  #mtm-main-img-wrapper {
    margin-left: 10px;
  }

  #mtm-text-wrapper {
    margin-left: -10px;
  }
}

@media (max-width: $smAndUnder), (orientation: portrait) {
  .comic-divider-mobile {
    border-top: solid black 2px;
  }
}

#ff-section {
    background: url("/images/comic/ff-background-darker.jpg");
    background-size: cover;

    color: $offWhite;
}

#mtm-content {
  b {
    color: $red;
  }
}

.venue {
  margin: 20px;
}

.frst, .prev, .rand, .next, .last {
  border-radius: 25px;
}

#comic-content {
  color: $black;
  text-align: center;
}

#comic-page {
  background-color: $homepageBg;
}

#comic-title {
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 10;
}

#comic-title-wrapper {
  display: flex;
  justify-content: center;
}

.comic-title-col {
  padding-right: 0;
  padding-left: 0;
}

.logo-divider {
  margin-top: 10px;
  margin-bottom: 50px;
}

.comic-main-desc {
  padding: 40px;
}

#mtm-main-img-wrapper {
  padding-top: 40px;
  display: flex;
  position: relative;
  justify-content: center;
}

#mtm-main-img {
  z-index: 10;
}

.mtm-main-img-bg {
  animation: slide 180s linear infinite;
  background: url("/images/comic/carson-bg-low-op.jpg") repeat-y;
  background-size: 100% auto;
  height: 9999px; // Just has to be bigger than container (aka carson.png) height
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@keyframes slide {
  0%{
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
  100%{
    transform: translate(0, -9000px);
    -webkit-transform: translate(0, -9000px);
    -moz-transform: translate(0, -9000px);
    -o-transform: translate(0, -9000px);
    -ms-transform: translate(0, -9000px);
  }
}

.comic-sign-up {
  padding: 30px 20px 50px 20px;

  background-color: $offWhite;

  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
}

.comic-book-row {
    padding: 75px 0;
}

#comic-logline {
  margin-top: 20px;
}

.gumroad-stuff {
  margin-bottom: 50px;
}

.comic-text {
  font-size: 110%;
  margin-top: 40px;
  margin-bottom: 30px;
}

#comic-octra-section {
  background-image: linear-gradient(141deg, #401461 0%, #331648 51%, #1a0b25 75%);
  background-color: #170723;
  color: white;
}

#horror-bg {
  width: 75%
}

.comic-section {
  padding-top: 40px;
}

#comic-horror-section {
  background-color: $offWhite;
  overflow: hidden;

  h1 {
    font-family: $aloja;
    word-spacing: 0.4em;
  }
}

#horror-cards-container {
    position: relative;
}

.horror-card {
    position: absolute;
    top: 0;
    width: 100%;
    right: -120%;
    margin-top: 30px;
}

#buck-card {
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

#rebirth-card {
    transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
}

#oysters-card {
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}

.horror-paint-container {
    margin-bottom: 75px;
    text-align: left;
}

#comic-zine-section {
  padding-top: 30px;
  background-color: $offWhite;
}

.comic-img {
  -webkit-box-shadow: 16px 16px black;
  -moz-box-shadow: 16px 16px black;
  box-shadow: 16px 16px black;
}

.comic-mockup {
  filter: drop-shadow(-10px 10px 8px black);
}

#comic-know-more {
  margin-bottom: 20px;
}

#comic-heart {
  margin-bottom: 5px;
}

@media (min-width: $mdAndOver) and (orientation: landscape) {
  .divider {
    max-width: 60%;
    margin-top: 75px;
    margin-bottom: 50px;
  }

  #comic-title {
    width: 50%;
  }

  .comic-sign-up {
    margin-left: 40px;
    margin-right: 40px;
  }
}

// ===================== END COMIC PAGE ======================

// ===========================================================
// ====================== SHORTS PAGES =======================
// ===========================================================

.short-comic-content-dark {
  font-family: $aloja;
  color: white;
  display: none;
}

.short-comic-content-light {
  font-family: $aloja;
  color: black;
}

.short-comic-container {
  background-color: white;
}

.light-switch {
  position: fixed;
  right: 5%;
  max-width: 8%; // has to be less than 2/12 columns AKA 16.6%
}

.short-comic-btn {
  border: 4px solid white;
}

// ==================== END SHORTS PAGE ======================

// ===========================================================
// ===================== KIDS PAGE ===========================
// ===========================================================

#kids-ttp-section, #kids-ttp-section-2, #kids-ttp-section-3, #kids-ttp-section-4, #kids-ttp-section-5 {
    b {
    color: #9e2745;
  }
}

#kids-ttp-section {
  background-color: bisque;
  background-image: url("/images/kids/background.jpg");
  background-position: center;
  background-size: cover;
}

#kids-ttp-section-2 {
  background-image: linear-gradient(141deg, #8ac9ec 0%, #84d5de 51%, #83cbe6 75%);
  background-color: #8ac9ec;
}

#kids-ttp-section-3 {
  background-color: #fcebda;
}

#kids-ttp-section-4 {
  background-color: #84d5de;

  #tilt-img {
    float: right;
    max-width: 200%;
    margin-top: -125px;
  }
}

@media (min-width: $mdAndOver) and (orientation: landscape) {
  #kids-ttp-section-3, #kids-ttp-section-4 {
    text-align: left;
  }

  #kids-ttp-section-4 {
    #tilt-img {
      margin-top: -300px;
    }
  }
}

.ttp-non-top-elem {
  margin-top: 50px;
}

.mini-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#kids-ttp-section-5 {
  background-color: #f9e9d8;
  background-image: url("/images/kids/background-2.jpg");
  background-position: center;
  background-size: cover;
}

.kids-buy-btn {
  border: solid 3px;
  width: 80%;
  border-radius: 10px;
}

// ==================== END KIDS PAGE ========================

// ===========================================================
// ======================== GUIDE PAGE =======================
// ===========================================================
#guide-main {
  min-height: calc(100vh - 151px); // 101px footer + 50px header
}

#guide-separator-wrapper {
  position: relative;
  height: calc(50vw * 0.5625); // assumes a column 6. Uses image aspect ratio (1152 / 2048)
  //width: 100%;   
  //top: 0%;
  //background-attachment: fixed;
  //box-sizing: content-box;
  //z-index: 1;
}

#guide-separator-left { 
  background-image: url("/images/guide/guide-cover-bw.jpg");
    height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 10% 30%;
  background-attachment: fixed;
}

#guide-separator-right {
  position: absolute;
  right: 0;
  //top: 0;
  //box-sizing: content-box;
  background-image: url("/images/guide/guide-cover-colour.jpg");
    height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 10% 30%;
  background-attachment: fixed;
}


#guide-separator {
  height: 100%;
  width: 5px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 10;
}

#pagenav {
  min-height: 10px;
}

.pagenav-prev {
  float: left;
}

.pagenav-next {
  float: right;
}

.guide-main-section {
  margin-bottom: 20px;
}

.guidepost-top-btn {
  margin-top: 20px;
}

#guidepost-content-box {
  text-align: left;
  background-color: $offWhite;
  padding: 40px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);

  hr {
    height: 5px;
  }

  h1 {
    border-bottom: 10px solid #2AA198;
  }

  @media (min-width: $mdAndOver) and (orientation: landscape) {
    margin-left: 40px;
    margin-right: 40px;
  }
}

#guidepost-content {
  margin-top: 60px;
  margin-bottom: 50px;

  a {
    color: #337ab7;
    text-decoration: none;
  }

  a:hover, a:active {
    text-decoration: underline;
  }

  p {
    margin: 30px 0;
  }

  img {
    display: block;
    margin: 0 auto;
  }

}

#guide-content {
  background-color: $homepageBg;
}

#guide-toc {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $elevatedBg;

  @media (min-width: $mdAndOver) and (orientation: landscape) {
    border-left: 5px groove;
  }

  @media (max-width: $smAndUnder), (orientation: portrait) {
    border-top: 5px groove;
  }
}

#toc-title {
  border-bottom: 3px solid black;
}

.fa-8x{
  font-size: 8em;
}

.guide-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5px;
  min-height: 58px;
  padding: 0 22px;
  border: 2px solid $black;
  border-radius: 15px;
  background: none;
  font-size: 16px;
  line-height: 52px;
  color: $black;
  letter-spacing: .12em;
  word-spacing: 0.2em;
  text-decoration: none!important;
  font-weight: 600;
  text-transform: uppercase;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;

  &:hover, &:active, &:focus {
    background-color: $black;
    color: $offWhite;
  }
}

#guide-links {
  margin-top: 15px;
}

#guide-main-left {
  padding-top: 50px;
  padding-bottom: 50px;
}

#guide-main-right {
  padding-top: 20px;
  padding-bottom: 50px;
}

@media (min-width: $mdAndOver) and (orientation: landscape) {
  #guide-main-right {
    border-left: 5px groove;
  }
}

#guide-desc {
  margin-top: 40px;
}

.gbtn-start {
  background-color: #15ef38;
}

.gbtn1 {
  background-color: #42b4c5;
}
.gbtn2 {
  background-color: #427ec5;
}
.gbtn3 {
  background-color: #9142c5;
}
.gbtn4 {
  background-color: #bb42c5;
}
.gbtn5 {
  background-color: #c54274;
}
.gbtn6 {
  background-color: #c55942;
}
.gbtn7 {
  background-color: #c58942;
}
.gbtn8 {
  background-color: #c5a742;
}
.gbtn9 {
  background-color: #acc542;
}
.gbtn10 {
  background-color: #42c551;
}
.gbtn11 {
  background-color: #42c5ab;
}

.unclickable, .unclickable:hover, .unclickable:active, .unclickable:focus{
  text-decoration: line-through;
  background-color: gray;
  color: black;
}
// =================== END GUIDE PAGE ========================

// ===========================================================
// ======================= PROSE PAGES =======================
// ===========================================================

.spoiler { 
  color: black; 
  background-color: black;

  &:hover {
    color: inherit;
    background-color: inherit; 
  }
}

.prose-main-section {
  margin-bottom: 20px;
}

.prose-content-box {
  text-align: left;
  background-color: $offWhite;
  padding: 40px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);

  @media (min-width: $mdAndOver) and (orientation: landscape) {
    margin-left: 40px;
    margin-right: 40px;

    .prose-text-body {
      width: 80%;
    }
  }

  .prose-text-body {
    orphans: 2;
    widows: 2;
    margin: 0 auto;

    p {
      margin: 25px 0;
    }

    // The c tags are autogenerated when saving the doc to an html file
    // block quote text (large margins on both sides)
    .c9 {
      margin-left: 56.7pt!important;
      margin-right: 54.6pt!important;
    }

    // general centered text (used for stuff like ***)
    .c7 {
      text-align: center;
    }

    // italics
    .c1 {
      font-style: italic;
    }
  }
}

// =================== END PROSE PAGES =======================

// ===========================================================
// ========================= FOOTER ==========================
// ===========================================================
.wrapper-footer {
  position: relative;
  background: black;
}

footer {
  color: #6d6d6d;
  padding: 20px 0 10px;
  text-align: center;
}
// ======================= END FOOTER ========================

// ===========================================================
// ===================== END MY STUFF!! ======================
// ===========================================================

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid $gray;
  padding: 0.1em 1em;
  color: $gray;
  font-size: 18px;
  font-style: italic;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
