<!--Menu Button, requires being surrounded by menu or menu-mobile tag-->
<!--Designed by Christophe Kirsch: http://codepen.io/chriskirsch/full/XJVEag/-->
<a class="menu-button1" href="/book/">
	<i class="fa fa-pencil fa-2x"></i>
</a>
<a class="menu-button2" href="/dev/">
	<i class="fa fa-code fa-2x"></i>
</a>
<a class="menu-button3" href="/travel/">
	<i class="fa fa-plane fa-2x"></i>
</a>
<a class="menu-button4" href="/bio/">
	<i class="fa fa-user fa-2x"></i>
</a>
<div class="mask"><i class="fa fa-home fa-3x"></i></div>