<!--Menu Button, requires being surrounded by menu or menu-mobile tag-->
<!--Designed by Christophe Kirsch: http://codepen.io/chriskirsch/full/XJVEag/-->
	<a href="/personal">
		<div class="menu-button1">
				<i class="fa fa-pencil fa-2x"></i>
		</div>
	</a>
	<a href="/dev">
		<div class="menu-button2">
				<i class="fa fa-code fa-2x"></i>
		</div>
	</a>
	<a href="/travel">
		<div class="menu-button3">
				<i class="fa fa-plane fa-2x"></i>
		</div>
	</a>
	<div class="mask"><i class="fa fa-home fa-3x"></i></div>