<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom fixed-top">

  <a class="navbar-brand" href="/">Evan Waterman</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars fa-lg py-1 text-white"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BOOKS</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/comic/">COMICS</a>
            <a class="dropdown-item" href="/kids/">KIDS BOOKS</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/guide/">COMIC GUIDE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://gumroad.com/ewaterman">SHOP</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
    	<li class="nav-item">
    		<a class="nav-link" href="/dev/">NEED A WEBSITE?</a>
    	</li>
    	<li class="nav-item active">
    		<a class="nav-link" href="/freecomic"><span>WANT A FREE COMIC?</span></a>
    	</li>
    	<li class="nav-item">
    		<a class="nav-link" href="/contact/"><i class="fa fa-envelope"></i> CONTACT</a>
    	</li>
    </ul>
  </div>
</nav>