
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #bfbfbf;
$lighterGray: #eee;
$white: #fff;
$green: #5cb85c;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$monaco: "Lucida Console", Monaco, monospace;
//$raleway:'Raleway', sans-serif;
//verlag: 'Verlag A','Verlag B', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}