
//
// VARIABLES
//

// Colors
$lightBlue: #66fcf1;

$homepageBg: #bec2c3; // could do #e0e0e0 or #f7f7f7
$elevatedBg: #d2d2d2;

$blue: #5bc0de; // #08d1d5
$green: #5cb85c;
$orange: #f0ad4e;
$red: #d9534f;
$pink: #f51995; // #f24caf

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #bfbfbf;
$lighterGray: #eee;
$white: #fff;

// Font stacks
@font-face {
  font-family: "Aloja-Light";
  src: url('/fonts/Aloja-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Aloja-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Aloja-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Aloja-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Aloja-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Aloja-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$lato: 'Lato', Helvetica, Arial, sans-serif;
$aloja: "Aloja-Light", 'Lato', Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}