
//
// VARIABLES
//

// Colors
$lightBlue: #66fcf1;

$homepageBg: #c4c4c5;

$blue: #5bc0de;
$green: #5cb85c;
$orange: #f0ad4e;
$red: #d9534f;
$pink: #ff1493;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #bfbfbf;
$lighterGray: #eee;
$white: #fff;

// Transparent
$transparent: rgba(0,0,0,0);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$lato: 'Lato', Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}