<!DOCTYPE html>
<html>
  <head>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {% include meta.html %}

    <!-- This fixes IE HTML5 problems -->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Loader (has to be at top) -->
    <script src="/js/loader.js"></script>

  </head>

  <body>

    <!--[if lt IE 7]>
    <div id="IEcheck" style="margin-top:100px; text-align: center;">
      <h2>HI THERE!</h2>
      <p>It looks like you have stumbled across my website on a non compatible browser. Please download an awesome browser (I suggest <a href="http://www.mozilla.org/en-US/firefox">Firefox</a> or <a href="https://www.google.com/intl/en/chrome/browser/">Chome</a>) Then revisit my site so you can view it as intended.<br> Otherwise just contact me at <a href="mailto:evanjwaterman@gmail.com">:evanjwaterman@gmail.com</a>.</p>
    </div>
    <![endif]-->

    <!-- Loader (has to be at top) -->
    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

    </div>

    <!-- Container for page content. The content of each "child" page resides here -->
    <div id="main" role="main" class="contentcontainer">
      {{ content }}
    </div>

    <!--Back to Top-->
    <!--<a href="#0" class="cd-top">Top</a>-->

    {% include analytics.html %}

    <!-- SCRIPTS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Smooth scroll to page anchors -->
    <!--<script src="/js/smoothscroll.js"></script>-->

    <!-- Back to Top -->
    <!--<script src="/js/to-top.js"></script>-->

    <!-- All button press results -->
    <script src="/js/on-btn-press.js"></script>

    <!-- Menu Button -->
    <script src="/js/menu.js"></script>

    <!-- Custom Scrollbar -->
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function($){
        $(window).on("load",function(){
          $(".scrollbar").mCustomScrollbar({
            theme:"light-thick",
            setHeight: 500,
            autoExpandScrollbar: true,
            scrollInertia: 100
            //snapAmount: 200
          });
        });
      })(jQuery);
    </script>

    <!--Background live update -->
    <!--<script src="/js/bg-liveupdate.js"></script>-->

  </body>
</html>
