<!DOCTYPE html>
<html>
  <head>

    <!-- This is the default page that all other pages will be built off of. -->

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {% include meta.html %}

    <!-- This fixes IE HTML5 problems -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

    <!--[if lt IE 7]>
    <div id="content" style="margin-top:100px; text-align: center;">
      <h2>HI THERE!</h2>
      <p>It looks like you have stumbled across my website on a non compatible browser. Please download an awesome browser (I suggest <a href="http://www.mozilla.org/en-US/firefox">Firefox</a> or <a href="https://www.google.com/intl/en/chrome/browser/">Chome</a>) Then revisit my site so you can view it as intended.<br> Otherwise just contact me at <a href="mailto:evanjwaterman@gmail.com">:evanjwaterman@gmail.com</a>.</p>
    </div>
    <![endif]-->

    <!-- Container for page content. The content of each "child" page resides here -->
    <div id="main" role="main" class="contentcontainer">
      {{ content }}
    </div>

    <!-- Footer -->
    <div class="wrapper-footer" id="contact">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
          <br>
          <br>
          made by Evan Waterman
          <br>
          <span style="font-size:0.6em;">HTML5 | CSS3 | JavaScript | Bootstrap | jQuery</span>
        </footer>
      </div>
    </div>

    <!--Back to Top-->
    <!-- TODO: maybe have in top center but just arrow and note that says back to top -->
    <a href="#0" class="cd-top">Top</a>

    {% include analytics.html %}

    <!-- SCRIPTS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Smooth scroll to page anchors -->
    <script src="/js/smoothscroll.js"></script>

    <!-- Back to Top -->
    <script src="/js/main.js"></script>

  </body>
</html>
