---
layout: page
---

<article class="guidepost">

  <div class="container-fluid">
    <div class="row">

			<!-- Main Content Section -->
      <div class="col-md-offset-1 col-md-8">
				<div id="guidepost-content-box">
					{% include page-nav.html %}
					<hr>

					{% if page.title == "Overview" %}
						<h1>{{ page.categories[1] }}</h1>
					{% else %}
						<h1>{{ page.title }}</h1>
					{% endif %}

					<div id="guidepost-content">
        		{{ content }}
					</div>
					<hr>
					{% include page-nav.html %}
				</div>

				<a id="bookmark-this" href="#" title="Bookmark This Page"><i class="fa fa-bookmark-o fa-4x"></i></a>

				<!-- E-mail list sign up -->
				<div class="container-fluid">
					<div class="row comic-row comic-sign-up">
						<div class="col-md-offset-1 col-md-5">
							<img src="/images/comic/mock-up.png" width="auto" height="auto">
						</div>

						<div class="col-md-5">
							<h3>Get my comic FREE</h3>
							{% include newsletter.html %}
						</div>

						<div class="row comic-row">
							<div class="col-md-offset-2 col-md-8">
								<script src="https://gumroad.com/js/gumroad.js"></script>
								<a class="gumroad-button" href="https://gum.co/JWOYY" target="_blank">Or purchase the book on Gumroad</a>
							</div>
						</div>
					</div>
				</div>
      </div>

			<!-- Table of Contents Section-->
      <div id="guide-toc" class="col-md-3">

				<h3 id="toc-title">Table of Contents</h3>

				{% for category in site.categories %}
					{% assign cat = category | first %}
					{% unless cat == "guide" %}
						<h3><a href="{{ site.baseurl }}/guide/{{ cat | downcase }}/overview">{{ cat }}</a></h3>

						<hr>

						<ul class="list-unstyled">
							{% for post in category[1] reversed %}

								<!-- Hilight current page -->
								{% if page.url == post.url %}
									<li class="active"><a href="{{ post.url }}" class="active">{{ post.title }}</a></li>
								{% else %}
									<li><a href="{{ post.url }}">{{ post.title }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>

						<hr style="border-top: 1px solid #000;">

					{% endunless %}
				{% endfor %}

				<i class="fa fa-comments fa-4x"></i>
      </div>
    </div>

		{% include disqus.html %}
  </div>

</article>

<script async src="/js/addtohomescreen.min.js"></script>
<script async src="/js/bookmark.min.js"></script>