---
layout: page
title: How To Make A Comic
description: A collection of everything to do with the comic making process.
---

<article class="guidepost">

  <div class="container-fluid">
    <div class="row">

			<!-- Main Content Section -->
      <div class="col-md-9">
				<div id="guidepost-content-box">
					{% include page-nav.html %}
					<hr>

					{% if page.title == "Overview" %}
						<h1>{{ page.categories[1] }}</h1>
					{% else %}
						<h1>{{ page.title }}</h1>
					{% endif %}

					<div id="guidepost-content">
        		{{ content }}
					</div>
					<hr>
					{% include page-nav.html %}
				</div>

				<a id="bookmark-this" href="#" title="Bookmark This Page"><i class="far fa-bookmark fa-4x"></i></a>

				<!-- E-mail list sign up -->
				<div class="container-fluid comic-sign-up">
					<div class="row comic-row">

						<h2>Want a FREE comic?</h2>

						<div class="col-md-6">
							<img src="/images/comic/mock-up.png" width="auto" height="auto">
						</div>

						<div class="col-md-6">
							{% include newsletter.html %}
						</div>
					</div>
				</div>
      </div>

			<!-- Table of Contents Section-->
      <div id="guide-toc" class="col-md-3">

				<h3 id="toc-title">Table of Contents</h3>

				{% for category in site.categories %}
					{% assign cat = category | first %}
					{% unless cat == "guide" %}
						<h3><a href="{{ site.baseurl }}/guide/{{ cat | downcase }}/overview">{{ cat }}</a></h3>

						<hr>

						<ul class="list-unstyled">
							{% for post in category[1] reversed %}

								<!-- Hilight current page -->
								{% if page.url == post.url %}
									<li class="active"><a href="{{ post.url }}" class="active">{{ post.title }}</a></li>
								{% else %}
									<li><a href="{{ post.url }}">{{ post.title }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>

						<hr style="border-top: 1px solid #000;">

					{% endunless %}
				{% endfor %}
      </div>
    </div>

		{% include disqus.html %}
  </div>

</article>

<script async src="/js/addtohomescreen.min.js"></script>
<script async src="/js/bookmark.min.js"></script>